body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: orangered;
}


li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
   justify-content: right;
  }
  
  .change-devour .delete-burger {
    color: aqua;
  }

  .inline {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  .w-100 { 
    width: 100vw;
  }

  .h-auto {
    height: auto;
  }

  .burger-eat, .burger-noteat {
    display: inline-flex;
    /* width: 50%; */
    padding: 10px;
  }

  .w-50 {
    width: 50%;
  }
  
  .justify-center {
    justify-content: center;
  }

  .align-center {
    align-items: stretch;
  }

  .flex {
    display: block;
  }

  /* ul > li {
    height: 40%;
    width: 40%;
  
  } */
  .display-block {
    display: block;
  }

  .add-burger {
    justify-content: right;
  }

  li {
    background-color: orangered;
    color: rgb(80, 59, 59);
  }

  h1 {
    justify-content: center;
    align-content: center;
    display: flex;
    /* display: inline-flex; */
    /* float: right; */
  }
  h2 {
    padding-left: 40px;
    color: lightgreen;
  }
  
  .bt-color {
    background-color: orange;
  }